
    <div class="container">
      <div class="content">
        <div id="group_header">
           <div>
            <img src="img/group_profil.jpg" alt="image not found">
            <h3>digital development</h3>
           </div>
           <small>the group has 50 trainees</small>
        </div>


        <div id="group_msg">
            <div class="incoming_msgs">
                <div>
                    <span class="name">oussama mimit</span>
                    <p class="msg">hello everyone</p>
                </div>

                <div>
                    <span class="name">latifa ahrar</span>
                    <p class="msg">and peace be upon you, how are you doing??</p>
                </div>

                <div>
                    <span class="name">hajar abdlakrim</span>
                    <p class="msg">Thank God</p>
                </div>
            </div>

            <div class="msgs_send">
                <div>
                    <span class="name">you</span>
                    <p class="msg">welcome to you all</p>
                </div>

                <div>
                    <span class="name">you</span>
                    <p class="msg">welcome everyone</p>
                </div>
            </div>
        </div>


        <div id="group_input">
            <input type="text" id="msg_input" placeholder="Write..." required>
            <i class="fa-solid fa-paper-plane" id="icon_send"></i>
        </div>
      </div>
    </div>


