
    <div class="container">
      
      <div class="content">
        <div id="cards">
          <div>
            <p>the success rate</p>
            <span>80%</span>
          </div>

          <div>
            <p>number of study hours this week</p>
            <span>27,5 hours</span>
          </div>

          <div>
            <p>number of modules (currently)</p>
            <span>4</span>
          </div>

          <div>
            <p>number of absence hours</p>
            <span>10 hours</span>
          </div>
        </div>

        <div id="progress">
          <h2>number of study hours for each subject</h2>
          <div>
            <p>Module EGTSA106</p>
            <span></span>
          </div>

          <div>
            <p>Module EGTS103</p>
            <span></span>
          </div>

          <div>
            <p>Module EGTS108</p>
            <span></span>
          </div>

          <div>
            <p>Module M103</p>
            <span></span>
          </div>
        </div>

        <div id="d_points">
          <h2>latest points</h2>
          <table>
            <tr>
              <th>module</th>
              <th>grade</th>
              <th>exam</th>
              <th>date</th>
              <th>time</th>
            </tr>

            <tr>
              <td>M103</td>
              <td>18</td>
              <td>2</td>
              <td>18/01/2026</td>
              <td>18:30</td>
            </tr>

            <tr>
              <td>M103</td>
              <td>20</td>
              <td>3</td>
              <td>19/01/2026</td>
              <td>20:30</td>
            </tr>
          </table>
        </div>
      </div>
    </div>

    
    
  



