
    <div class="container">
      
      <div class="content">
        <h3>which documents do you need?</h3>
        <div class="option">
          <input type="checkbox" id="opt1" />
          <label for="opt1">school certificate</label>
        </div>

        <div class="option">
          <input type="checkbox" id="opt2" />
          <label for="opt2">high school diploma</label>
        </div>
        <div class="option">
          <input type="checkbox" id="opt3" />
          <label for="opt3">grade report</label>
        </div>

        <div class="option">
          <input type="checkbox" id="autre" />
          <label for="autre">other</label>
        </div>

        <input
          type="text"
          id="input_autre"
          placeholder="write the document you need"
          required
        />

        <button>Send</button>
      </div>
    </div>




