
    <!-- DEMO ACCOUNT INFO -->
    <div id="demo_account">
        <p>Demo account: <b>stagaire</b> / <b>stagaire123</b></p>
    </div>
    <div class="container">

       <!-- LOGIN PAGE -->
       <div id="page_login" class="page">
        <h1>Login page</h1>

       <form action="dashboard.html">
         <div class="box-input">
            <input type="text" id="input_username" placeholder="  " required>
            <i class="fa-solid fa-user" id="icon_username"></i>
            <label for="input_username">Username</label>
         </div> 

        <div class="box-input">
            <input type="password" id="input_password" placeholder="  " oninput="updatePasswordIcon(this.id)" required>
            <label for="input_password">Password</label>
            <i class="fa-solid fa-lock" id="icon_password" onclick="togglePasswordVisibility(this.id)"></i>
        </div>

        <button id="btn_login" class="btn" type="submit">
            Sign in
        </button>
       </form>

        <div class="links">
            <a href="#" onclick="switchPage('page_login','page_forgot_password')">
                Forgot password
            </a>
        </div>
      </div>

      <!-- FORGOT PASSWORD PAGE -->
      <div id="page_forgot_password" class="page">
        <h1>Forgot password page</h1>
        <form action="#">
            <div class="box-input">
                <input type="email" id="input_email_forgot" placeholder="  " required>
                <label for="input_email_forgot">Email</label>
            </div>

            <button id="btn_continue" class="btn" type="submit">
                Continue
            </button>
        </form>

       <div class="links">
            <a href="#" onclick="switchPage('page_forgot_password','page_login')">
                Sign in
            </a>
        </div>
      </div>
     
    </div>

    <!-- ERROR MESSAGE -->
    <div id="error">
        <div id="error_box">
            <i class="fa-solid fa-triangle-exclamation"></i>
            <h1 id="error_message"></h1>
            <button id="btn_ok">OK</button>
        </div>
    </div>

 
