<div class="container">
      <div class="content">
        <div class="box_annee">
          <label for="annee">school year:</label>
          <select id="annee">
            <option value="">2025/2026</option>
          </select>
        </div>

        <div class="box_type">
          <label for="type_r">result type: </label>
          <select id="type_r">
            <option value="points">exam points</option>
            <option value="result">final result</option>
          </select>
        </div>

        <table id="table1"></table>
        <table id="table2"></table>
      </div>
    </div>
