
    <div class="container">
      
      <div class="content">
        <div class="upload_img">
          <input type="file" />
          <div class="box_img">
            <img src="img/person.jpg" alt="image-profile" />
          </div>
          <i class="fa fa-camera"></i>
        </div>

        <div id="info_fix" class="box_info">
          <h3>Personal information</h3>
          <p><span>CEF :</span> 2007011900234</p>
          <p><span>Last name :</span> Mohammed</p>
          <p><span>First name :</span> Laabidi</p>
          <p><span>Date of birth :</span> 2007/01/19</p>
          <p><span>Field of study :</span> Développement digital</p>
          <p><span>Class :</span> DEV103</p>
          <p><span>OFPPT :</span> ISTAG Bab Tizimi</p>
          <p><span>City :</span> Meknès</p>
        </div>

        <div id="info_change" class="box_info">
          <h3>Edit information</h3>

          <div class="box_input">
            <label for="usr">Username</label>
            <input type="text" value="med1234" id="usr" required />
          </div>

          <div class="box_input">
            <label for="email">email</label>
            <input type="text" value="med1234@gamil.com" id="email" required />
          </div>

          <div class="box_input">
            <label for="n_tel">phone number</label>
            <input type="tel" value="0614526697" id="n_tel" />
          </div>

          <div class="box_btn">
            <button>Save</button>
          </div>

          
        </div>

        <div id="password" class="box_info">
          <h3>change password</h3>

          <div class="box_input">
            <label for="old_pwd">the password</label>
            <input type="password" id="old_pwd" required />
          </div>

          <div class="box_input">
            <label for="new_pwd">New password</label>
            <input type="password" id="new_pwd" class="box_input" required />
          </div>

          <div class="box_input">
            <label for="conf_pwd">Confirm password</label>
            <input type="password" id="conf_pwd" class="box_input" required />
          </div>

          <div class="box_btn">
            <button>Change</button>
          </div>

        </div>
      </div>
    </div>
    
  



