    
    <div class="container">
      
      <div class="content">
        <div class="box_recl">
          <div  class="box_select">
                <label for="type_recl">type of complaint:</label>
                <select name="" id="type_recl">
                    <option value=""></option>
                    <option value="">check the grade</option>
                    <option value="">absence</option>
                </select>
            </div>

            <div class="box_select">
                <label for="module">Module:</label>
                <select name="" id="module">
                    <option value=""></option>
                    <option value="">M104</option>
                    <option value="">M102</option>
                    <option value="">M105</option>
                    <option value="">M103</option>
                    <option value="">EGST103</option>
                    <option value="">EGST101</option>
                    <option value="">EGST102</option>
                    <option value="">EGSTA106</option>
                    <option value="">EGST108</option>
                    <option value="">M107</option>
                    <option value="">M106</option>
                    <option value="">M108</option>
                </select>
            </div>

            <div  class="box_select">
                <label for="exam">Exam:</label>
                <select name="" id="exam">
                    <option value=""></option>
                    <option value="">exam 1</option>
                    <option value="">exam 2</option>
                    <option value="">exam 3</option>
                    <option value="">EFM</option>
                </select>
            </div>

            <button>Send</button>
        </div>
      </div>
    </div>

    
  



